:root{
    --light-pink:rosybrown;
    --gray:gray;
    --table-border:#ddd;
    --table-even-child-color:cadetblue;
    --input-color:#f2f2f2;
    --button-color:deepskyblue;
    --button-color-hover:lightcoral ;
}